---
layout: default
---

<div class="teaserimage">
    <div class="teaserimage-image" {% if site.cover %}style="background-image: url({{ site.cover }})"{% endif %}>
        Teaser Image
    </div>
</div>

<header class="blog-header">
    {% if site.main_logo %}
      <a class="blog-logo" href="{{site.url}}" style="background-image: url('{{ site.main_logo }}')">{{ site.title }}</a>
    {% endif %}
    <h1 class="blog-title">{{ site.welcome_message }}</h1>
    <h2 class="blog-description">{{ site.description }}</h2>
    <div class="custom-links">
      {% for social in site.social %}
        <a class="icon-{{ social.icon }}" href="{{ social.url }}">
          <i class="fa fa-{{ social.icon }}"></i>
        </a>
        &nbsp;&nbsp;·&nbsp;&nbsp;
      {% endfor %}
    </div>
    <h2 class="blog-description">If you want to collaborate head to <a href="https://enricoteotti.com">enricoteotti.com</a></h2>
    <h2 class="blog-description">This is where I blog about <span class="custom-links"><a href="/topics/retrospectives">Agile Retrospectives</a></span>, <span class="custom-links"><a href="/topics/testing">Automated testing</a></span>, <span class="custom-links"><a href="/topics/ruby">Ruby</a></span>, <span class="custom-links"><a href="/topics/maintainability">maintainable architectures</a></span> and other <span class="custom-links"><a href="/topics">topics</a></span>. You can also watch <span class="custom-links"><a href="/public-speaker">recordings of my public talks.</a></span></h2>    
</header>


<main class="content" role="main">
    <div class="cf frame">
      {% for post in paginator.posts %}
        {% include article.html %}
      {% endfor %}
    </div>

    <nav class="pagination" role="navigation">
      {% if paginator.next_page %}
        <a class="newer-posts" href="/page{{paginator.next_page}}">&larr; Older posts</a>
      {% endif %}
      <span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
      {% if paginator.previous_page %}
        {% if paginator.page == 2 %}
          <a class="older-posts" href="/">Newer posts &rarr;</a>
        {% else %}
          <a class="older-posts" href="/page{{paginator.previous_page}}">Newer posts &rarr;</a>
        {% endif %}
      {% endif %}
    </nav>

</main>
